h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('text', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Normatividad', 'main.html#page/normatividad/')
                    +navTemaItem('2', 'LEY 909 DE 2004 - Evaluación del Desempeño', 'main.html#page/ley909/')
                    +navTemaItem('3', 'DECRETO LEY 760 DE 2005', 'main.html#page/ley760/')
                    +navTemaItem('4', 'DECRETO 1083 DE 2015 - Evaluación del desempeño y calificación de servicios', 'main.html#page/decreto1083/')  
                    +navTemaItem('5', 'ACUERDO 6176 DE 2018 - Sistema Tipo de Evaluación del Desempeño', 'main.html#page/acuerdo617/')
                    +navTemaItem('6', 'Anexo técnico del sistema tipo de evaluación del desempeño', 'main.html#page/anexo/')  
                    +navTemaItem('7', 'DECRETO 815 DE 2018 - Competencias Laborales para los empleos públicos', 'main.html#page/decreto815/')