

.container
    .header-ecored
        h1 1. Normatividad
    .jumbotron.bg-white
        p La Constitución Política de Colombia, en el Título V: De la organización del estado, Capítulo 2: De la función pública, establece condiciones para los empleos de carrera administrativa, ejercido por servidores públicos, en los órganos y entidades del Estado.

        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img1.jpg").img-fluid 

    #11
    .jumbotron.bg-white
        .sub-line
            h2 1.1 CONSTITUCIÓN POLÍTICA DE COLOMBIA - Función pública    
        p La Constitución Política en el Capítulo “De la función pública”, en el artículo 122, establece que todo empleo público debe tener funciones detalladas en ley o reglamento y todo servidor público para poder entrar a ejercer su cargo debe prestar juramento de cumplir y defender la constitución y desempeñar los deberes que le corresponden. 
        p Así mismo, en el artículo 123 indica que son servidores públicos, están al servicio del Estado y de la comunidad, los miembros de las corporaciones públicas, los empleados y trabajadores del Estado y de sus entidades descentralizadas territorialmente y por servicios.  
        p Los empleos en los órganos y entidades del Estado son de carrera. El ingreso y ascenso en los cargos de carrera se hace de acuerdo a los requisitos y condiciones que fije la Ley para determinar méritos y calidades de los aspirantes, tal como se establece en el Artículo 125, que además indica que el retiro de los servidores públicos se hace por calificación no satisfactoria en el desempeño del empleo o por violación del régimen disciplinario. 
        p La Comisión Nacional del Servicio Civil (CNSC) es responsable de la de la administración y vigilancia de las carreras de los servidores públicos (Artículo 130)

        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img2.jpg").img-fluid         
        
        