
.container
    .header-ecored
        h1 2. LEY 909 DE 2004 - Evaluación del Desempeño
    .jumbotron.bg-white
        h2.text-red La Ley 909 de 2004
        p.mt-5 “Por la cual se expiden normas que regulan el Empleo Público, la Carrera Administrativa, la Gerencia Pública y se dictan otras disposiciones”.  En su Artículo 2 dispone los principios de la función pública.

    .header-arrow.my-5
        h2.text-center ARTÍCULO 2º. PRINCIPIOS DE LA FUNCIÓN PÚBLICA. (…)

    .jumbotron.bg-white
        p Esta ley se orienta al logro de la satisfacción de los intereses generales y de la efectiva prestación del servicio, <b>de lo que derivan tres criterios básicos:</b>

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-3.px-3.py-3.mx-2
                img.img-a.my-5(src="assets/images/pages/ilustraciones/img3.png").img-fluid 
                h3 <b>La profesionalización</b>
                p de los recursos humanos al servicio de la Administración Pública que busca la consolidación del principio de mérito y la calidad en la prestación del servicio público a los ciudadanos

            .col-12.col-md-3.px-3.py-3.mx-2
                img.img-a.my-5(src="assets/images/pages/ilustraciones/img4.png").img-fluid 
                h3 <b>La flexibilidad</b>
                p en la organización y gestión de la función pública para adecuarse a las necesidades cambiantes de la sociedad, flexibilidad que ha de entenderse sin detrimento de la estabilidad de que trata el artículo 27 de la presente ley


            .col-12.col-md-3.px-3.py-3.mx-2
                img.img-a.my-5(src="assets/images/pages/ilustraciones/img5.png").img-fluid 
                h3 <b>La responsabilidad</b>
                p de los servidores públicos por el trabajo desarrollado, que se concretará a través de los instrumentos de evaluación del desempeño y de los acuerdos de gestión;
                p Capacitación para aumentar los niveles de eficacia (…)”                    


    .jumbotron.bg-white   
        hr.bd-hr-blue     
        .timeline
            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.py-5 Establece que el desempeño laboral de los empleados de carrera administrativa debe ser evaluado y calificado en función a su conducta laboral y sus aportes al cumplimiento de las metas institucionales. Indica además que la calificación del periodo anual debe incluir dos evaluaciones parciales al año y sobre la calificación definitiva del desempeño procede el recurso de reposición y de apelación.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title La Ley, en su Artículo 38 

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes.pb-0
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.pt-5.mb-0 Establece para los responsables la obligación de evaluar, conforme a la metodología contenida en el instrumento y en los términos que señale el reglamento que para el efecto se expidan. En caso de incumplimiento se aplicará sanción disciplinaria, ya que esto constituye falta grave.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title En el Artículo 39  


    .jumbotron.bg-white 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img6.jpg").img-fluid   
        p El Sistema de evaluación tipo de la CNSC, debe ser adoptado por las entidades del estado mientras desarrollan sus propios sistemas, los cuales deben ser aprobados por la CNSC, tal como lo establece el Artículo 40 de esta Ley. Así mismo indica para el Jefe de la entidad la responsabilidad de adoptar un sistema de evaluación, el no hacerlo constituye falta disciplinaria.                                           