
.container
    .header-ecored
        h1 3. DECRETO LEY 760 DE 2005
    .jumbotron.bg-white

        p Procedimiento para la notificación de la calificación de los empleados de carrera
        p El Procedimiento para la notificación de la calificación de los empleados de carrera se encuentra definido en el <b>Título II del Decreto Ley 760 de 2005. </b>

        hr.bd-hr-blue.mt-5     
        .timeline
            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes

                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.py-5 La no calificación de los empleados de carrera dará lugar a investigación disciplinaria, por lo tanto, los responsables de evaluar deberán hacerlo dentro de los plazos establecidos, y si al vencimiento del plazo previsto no se realiza, los evaluados tienen derecho a solicitarla dentro de los cinco (5) días siguientes, y si los responsables de evaluar no se hacen dentro de los cinco (5) días siguientes a la solicitud, la calificación se entenderá satisfactoria en el puntaje mínimo. 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title Artículo 33

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.pt-5.mb-0 Las evaluaciones parciales y semestrales se comunicarán de manera escrita al evaluado, dentro de los dos (2) días siguientes a la fecha en que se produzca. 
                    p.px-5 La calificación anual o extraordinaria se notificará personalmente dentro de los dos (2) días siguientes a la fecha en que se produzca y si no se puede hacer personalmente dentro de este plazo, se enviará copia de la evaluación por correo certificado, a la dirección que repose en la hoja de vida del empleado, dejando constancia escrita de ello.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title Artículo 34

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.py-5 El Decreto Ley 760 de 2005, dispone en el artículo 36 que contra las evaluaciones semestrales o parciales no procede recurso alguno. 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img') 
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title Artículo 36

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.pt-5.mb-0 En el artículo 37 el Decreto Ley dispone que al día  siguiente de realizada la calificación, el Jefe de la unidad   de Personal o quien haga sus veces debe recibir  expediente de parte del evaluador, si la calificación obtenida por el empleado de carrera es insatisfactoria,  proyecta acto administrativo el cual debe ser firmado por el jefe de la entidad, donde se declara insubsistente el nombramiento en un término no superior a tres (3) días, salvo lo referido a la protección a la maternidad (numeral 3 del artículo 51 de la Ley 909 de 2004).
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title Artículo 37

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.py-5 En cuanto a los impedimentos y recusaciones, el Artículo 38 del Decreto Ley, establece: “los responsables de evaluar el desempeño laboral de los empleados de carrera o en período de prueba deberán declararse impedidos cuando se encuentren vinculados con estos por matrimonio o por unión permanente o tengan parentesco hasta el cuarto grado de consanguinidad, segundo de afinidad, primero civil o exista enemistad grave con el empleado a evaluar o cuando exista cualquier causal de impedimento o hecho que afecte su objetividad”.  
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title Artículo 38

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.pt-5.mb-0 En el Artículo 39, dispone que el empleado a ser evaluado podrá recusar al evaluador ante el Jefe de la entidad cuando advierta alguna de las causales de impedimento, para lo cual presentará las pruebas que pretenda hacer valer. En el mismo artículo se establece que la recusación o el impedimento deberán formularse y decidirse antes de iniciarse el proceso de evaluación.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title Artículo 39 

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.py-5 Las causales de impedimentos y recusaciones aplican también para los miembros de las Comisiones de personal.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title Artículo 40
                                                            
        