
.container
    .container
    .header-ecored
        h1 4. DECRETO 1083 DE 2015 - Evaluación del desempeño y calificación de servicios
    .jumbotron.bg-white
        p El Decreto 1083 de 2015, “Por medio del cual se expide el Decreto Único Reglamentario del Sector de Función Pública”, en el <b>Capítulo 1 Evaluación del Desempeño Laboral del título 8 Evaluación del desempeño y calificación de servicios establece:</b>

        .row.justify-content-center.align-items-center.mt-5.bg-blue
            img.img-a.mb-5(src="assets/images/pages/ilustraciones/img7.jpg").img-fluid 
            p.text-white.px-5.mb-5 “La evaluación del desempeño laboral es una herramienta de gestión que, con base en juicios objetivos sobre la conducta, las competencias laborales y los aportes al cumplimiento de las metas institucionales de los empleados de carrera y en período de prueba en el desempeño de sus respectivos cargos, busca valorar el mérito como principio sobre el cual se fundamenten su permanencia y desarrollo en el servicio. (Decreto 1227 de 2005, art. 50)”.  

        hr.bd-hr-blue.mt-5     
        .timeline
            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes

                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.py-5 El Decreto dispone que la evaluación del desempeño laboral debe ser objetivas, imparciales y fundadas en principios de equidad y deben relacionar hechos concretos y comportamientos demostrados por el empleado durante el periodo a evaluar, que puede ser anual comprendido entre el 1 de febrero y el 31 de enero del año siguiente o en periodo de prueba por un término de seis meses. Durante el periodo anual se deben realizar dos evaluaciones semestrales así: Primer semestre entre el 1 de febrero y el 31 de julio, segundo semestre entre el 1 de agosto y el 31 de enero. La calificación definitiva será el resultado de ponderar las evaluaciones semestrales previstas en el artículo 38 de la Ley 909 de 2004. 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title Decreto 1227 de 2005, art. 50           
    .header-arrow.my-5
        h2.text-center En concordancia con el Decreto 1227 de 2005, (art. del 56, al 61), el Decreto 1083 establece:  

    .jumbotron.bg-white
        hr.bd-hr-blue.mt-5     
        .timeline
            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes

                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.py-5 En la aplicación del sistema tipo de la CNSC, se determina el o los empleados responsables de la evaluación del desempeño, dentro de los cuales debe haber un empleado de libre nombramiento y remoción.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title Decreto 1227 de 2005, art. 56, al 61

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.py-5 El empleado responsable de evaluar se retira del servicio, pero continúa en la entidad tiene la obligación de realizar las evaluaciones que le correspondan, en caso contrario deberá hacerlo el superior inmediato o el empleado que designe el jefe de la entidad.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.py-5 Las evaluaciones se notifican ante la Comisión Nacional del Servicio Civil de acuerdo a procedimientos establecidos. Contra la calificación definitiva proceden los recursos de apelación y el de reposición por violación o inconformidad en los resultados.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img') 
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.py-5 De acuerdo con lo dispuesto en la Ley 909 de 2004, luego de la firmeza de una calificación de servicios no satisfactoria, con relación a la calificación anual o extraordinaria, el nombramiento del empleado debe ser declarado insubsistente, mediante resolución motivada del Jefe de la entidad. Cuando se trata de una empleada de carrera en estado de embarazo la declaratoria de insubsistencia del nombramiento, solo podrá producirse dentro de los ocho (8) días siguientes al vencimiento de la licencia. 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.py-5 Los empleados que se encuentren en comisión de servicios en otra entidad serán evaluados y calificados por la entidad en la que se encuentran en comisión y será enviada a la entidad origen. 
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.py-5 El jefe de personal o a quien haga sus veces, debe velar por la oportuna y adecuada aplicación del sistema de evaluación y calificación de servicios.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title 

    .header-arrow.my-5
        h2.text-center  En el Capítulo 2 Evaluación y calificación del período de prueba, del título 8 Evaluación del desempeño y calificación de servicios y en concordancia con el Decreto 1227 de 2005, (art. del 62, al 64), el Decreto 1083 de 2015 establece:    

    .jumbotron.bg-white
        hr.bd-hr-blue.mt-5     
        .timeline
            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes

                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.py-5 Una vez el empleado culmine su  periodo de prueba, se le debe evaluar su desempeño laboral, determinando la calificación definitiva. Si la calificación de servicios es Satisfactoria le permite permanecer en el cargo y se deriva la inscripción en el Registro Público de Carrera Administrativa. Si la calificación obtenida es Insatisfactoria procede para el empleado el retiro de la entidad, al no haber adquirido los derechos de carrera administrativa.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title Decreto 1227 de 2005, (art. del 62, al 64)

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.py-5 Calificación del periodo de prueba. Al vencimiento del período de prueba el empleado será evaluado en su desempeño laboral y deberá producirse la calificación definitiva de servicios, para lo cual se utilizará el instrumento de evaluación del desempeño que rige para la respectiva entidad. Una vez en firme la calificación del período de prueba, si fuere satisfactoria, determinará la permanencia del empleado en el cargo para el cual fue nombrado y su inscripción en el Registro Público de Carrera Administrativa. En caso de ser insatisfactoria la calificación, causará el retiro de la entidad del empleado que no tenga los derechos de carrera administrativa. (Decreto 1227 de 2005, art. 62)

                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title Artículo 62

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.py-5 En el periodo de prueba se pueden presentar situaciones donde sea necesario realizar evaluaciones parciales eventuales generadas por situaciones como: Cambio de evaluador, por interrupción del período de prueba por un lapso igual o superior a 20 días continuos, o por el lapso comprendido entre la última evaluación parcial si la hubiere y el final del período de prueba.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img') 
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title         