
.container
    .header-ecored
        h1 5. ACUERDO 617 DE 2018 - Sistema Tipo de Evaluación del Desempeño

    .jumbotron.bg-white
        
        .row.justify-content-center.align-items-center.mt-5
            .col-10
                p.mb-0 Mediante el Acuerdo 617 de 2018 se establece el Sistema Tipo de Evaluación del Desempeño Laboral de los Empleados Públicos de Carrera Administrativa y en Período de Prueba. 
            .col-auto
                img.img-a.mt-2(src="assets/images/pages/ilustraciones/img8.svg").img-fluid 

        .row.justify-content-center.align-items-center.mt-5
            .col-10
                p.mb-0 Las Empresas del Estado que no cuenten con un sistema de evaluación propio, deben adoptar el Sistema tipo de la Comisión Nacional del Servicio Civil (CNSC), quien define los medios o instrumentos para llevar a cabo el proceso de evaluación del desempeño laboral.  
            .col-auto
                img.img-a.mt-2(src="assets/images/pages/ilustraciones/img9.svg").img-fluid                 

        p.mt-5 En el Acuerdo se establecen cuatro fases para el proceso de Evaluación del Desempeño Laboral, para el periodo anual y el periodo prueba: <b>Concertación de Compromisos, Seguimiento, Evaluaciones Parciales y Calificación Definitiva.</b>

        .row.justify-content-center.align-items-center.mt-5
            .col-10
                p.mb-0 Establece también las escalas de calificación en los niveles Sobresaliente, Satisfactorio, y No Satisfactorio,  e indica  además que las comunicaciones y notificaciones relacionados con la evaluación, se llevarán a cabo en los términos de los artículos 33 y 34 del Decreto Ley  760 de 2005 y, los recursos en contra de la calificación definitiva se adelantarán conforme a  los artículos 35, 36 y 37. Los impedimentos y recusaciones se tramitan y deciden conforme a lo estipulado en el artículo 38 y siguientes del Título VII (Procedimiento para la notificación de la calificación de los empleados de carrera) del mismo Decreto, o las disposiciones que lo modifiquen, aclaren o sustituyan.
 
            .col-auto
                img.img-a.mt-2(src="assets/images/pages/ilustraciones/img10.svg").img-fluid    

        p.mt-5 El Acuerdo rige para todas las entidades partir del 1° de febrero de 2019, lo anterior, en concordancia con el periodo anual u ordinario y viene acompañado de un Anexo Técnico. 

        p Esta información se ampliará de manera detallada en la presentación del último componente formativo del curso. 