
.container

    .header-ecored
        h1 6. Anexo técnico del Sistema Tipo de Evaluación del Desempeño

    .jumbotron.bg-white
        p El Anexo técnico del Sistema Tipo de Evaluación del Desempeño laboral de los empleados públicos de carrera administrativa y en período de prueba, presenta las condiciones técnicas de la evaluación del desempeño laboral. 

        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a.mt-2(src="assets/images/pages/ilustraciones/img11.svg").img-fluid             
            .col-8.bg-color
                p.mb-0 El documento inicia con una definición de términos con el fin de complementar la información principal que permita percibir y comprender el Sistema Tipo de Evaluación del Desempeño de la Comisión Nacional del Servicio Civil. 

        .row.justify-content-center.align-items-center.mt-5
            .col-8.bg-color
                p Seguidamente presenta los actores que intervienen en el proceso de evaluación del desempeño:

                ul
                    li Comisión Nacional del Servicio Civil
                    li Jefe de la entidad
                    li Jefe de la oficina de planeación o quien haga sus veces
                    li Jefe de la oficina de control Interno o quien haga sus veces
                    li Jefe de la de Unidad de Personal o quien haga sus veces
                    li Comisión de personal
                    li Evaluados y evaluadores.
 
            .col-auto
                img.img-a.mt-2(src="assets/images/pages/ilustraciones/img13.svg").img-fluid   

        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a.mt-2(src="assets/images/pages/ilustraciones/img12.svg").img-fluid             
            .col-8.bg-color
                p.mb-0 Luego hace referencia a las fases de la evaluación del desempeño, ampliando la información contenida en el Acuerdo 6176 de 2018 en cuanto a la Concertación de compromisos, Seguimiento, Evaluaciones parciales y Calificación definitiva.
                                       