

.container
    .header-ecored
        h1 Introducción        
.container
    .row
        .col
            .card

                img.img-a.mx-0(src="assets/images/pages/ilustraciones/mf1.jpg").img-fluid 
                
                .card-body.mt-0
                    p La Constitución Política de Colombia, en el Título V: De la organización del Estado, Capítulo 2: De la función pública, establece condiciones para los empleos de carrera administrativa, ejercido por servidores públicos, en los órganos y entidades del Estado.