

.container
    .header-ecored
        h1 Introducción        
.container
    .row.my-5
        .col
            .card

                .embed-responsive.embed-responsive-16by9.mt-5
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/p6YoMy4n_u0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                
                .card-body.mt-0
                    p La Constitución Política de Colombia, en el Título V: De la Organización del Estado, Capítulo 2: De la función pública, establece condiciones para los empleos de carrera administrativa, ejercido por Servidores Públicos, en los órganos y entidades del Estado.
                hr.bd-hr