include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Curso para Evaluadores del Desempeño Laboral con el Sistema Tipo de la Comisión Nacional Del Servicio Civil
        meta(meta name="description" content="Informacioón del programa Curso para Evaluadores del Desempeño Laboral con el Sistema Tipo de la Comisión Nacional Del Servicio Civil.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")


    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Curso para Evaluadores del Desempeño Laboral con el Sistema Tipo de la Comisión Nacional Del Servicio Civil
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.bg-brand-color-dark.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Curso para Evaluadores del Desempeño Laboral con el Sistema Tipo de la Comisión Nacional Del Servicio Civil
                                        li 
                                            span #[strong Código:] 41740024
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 5 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de Ingreso:] se requiere que el estudiante en Ambiente Virtual de Aprendizaje - AVA, tenga un manejo adecuado de los elementos básicos relacionados con herramientas informáticas y de comunicación: correo electrónico, chats, procesadores de texto, hojas de cálculo, software para presentaciones, Internet, navegadores y otras herramientas tecnológicas necesarias para la formación virtual.


                    

                            .col-12.col-lg-6
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/d5r1JGoxy2Y', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')          


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 Cuando se habla de evaluación del desempeño nos referimos al procedimiento formal para medir el cumplimiento de los compromisos laborales de un empleado, para contribuir al logro de los objetivos propuestos por una organización, redundando  en la motivación hacia el desarrollo personal.

                p El programa de formación Curso para Evaluadores del Desempeño Laboral con el Sistema Tipo de la Comisión Nacional Del Servicio Civil, reglamentado por el Acuerdo 617 de 2018, está diseñado para conocer desde el rol de evaluador, el procedimiento  que se establece a partir de las metas institucionales para valorar las contribuciones individuales y el comportamiento de los  funcionarios de carrera administrativa y en periodo de prueba; donde los evaluadores deben participar de manera activa en cada una de las fases que componen el proceso. 

                p El curso se desarrolla a través de tres unidades temáticas: Normatividad, Sistema tipo de evaluación de la CNSC, y Fases de la evaluación del desempeño laboral, orientado con recursos educativos digitales y  estrategias de aprendizaje de tipo individual y experiencial,  que permiten la apropiación de conceptos y alcanzar de manera significativa los resultados de aprendizaje a través de  las actividades propuestas.

                p Espero que con estos recursos a tu disposición puedas aprender fácilmente y certificar la competencia evaluar desempeño de acuerdo con metodologías y normativa.

                p ¡Bienvenido!




        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 A partir del 1 de febrero de 2019 se deroga el Acuerdo 565 de 2016 de la CNSC y entró en vigencia el Acuerdo 617 de 2018, expedido por la CNSC, el cual establece el Sistema tipo de Evaluación de Desempeño Laboral para los servidores de carrera administrativa y en periodo de prueba, mediante la aplicación de diferentes fases y con la participación de diversos actores. 

                p La formación complementaria orientada a través de este curso, busca formar evaluadores del desempeño laboral con el Sistema tipo de la Comisión Nacional del Servicio Civil, donde se reconoce la evaluación como herramienta de gestión, para fortalecer las competencias que se requieren para lograr una adecuada prestación de bienes y servicios que respondan a las necesidades y expectativas de la ciudadanía, logrando impacto en el cumplimiento de objetivos en las entidades públicas. 



        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p Servidores públicos que tengan bajo su responsabilidad la evaluación de desempeño de funcionarios de carrera administrativa y en periodo de prueba dentro del Sistema de Evaluación de la CNSC. 

                p Personas interesadas en conocer desde el rol de evaluador, el Sistema de evaluación del desempeño laboral tipo de la CNSC, para funcionarios de carrera administrativa y en periodo de prueba.



        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p La estrategia metodológica propuesta para el presente curso, está centrada en la construcción de autonomía para garantizar la calidad en la educación en el marco de la formación por competencias soportadas en la utilización de las tecnologías de la información y la comunicación, en ambientes virtuales de aprendizaje, con una estrategia de aprendizaje individual para la apropiación de conceptos y el aprendizaje experiencial para alcanzar aprendizajes significativos, lo anterior se da a través de cuatro fases que permiten un recorrido desde la identificación de la actividad o reto, posteriormente se busca compartir los resultados y reacciones, continuo a esto, descubrir por medio del análisis acerca de la experiencia y se finaliza en conectar la experiencia al contexto real, vinculando al aprendiz con la realidad cotidiana y el desarrollo de las competencias en este ámbito. 

                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el que hacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento: 



                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El instructor  
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Tutor 
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El entorno 
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Las TIC

        +creditosFooter("assets/images/logos/senaLogo.svg")





