include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Ruta de aprendizaje
        meta(meta name="description" content="Ruta de aprendizaje programa Curso para Evaluadores del Desempeño Laboral con el Sistema Tipo de la Comisión Nacional Del Servicio Civil.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

        


    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Curso para Evaluadores del Desempeño Laboral con el Sistema Tipo de la Comisión Nacional Del Servicio Civil
                                h1.curso-titulo Ruta de aprendizaje

                                .brand-line-primary

                                p.curso-descripcion A continuación se presentan las actividades de aprendizaje que debe realizar el aprendiz durante el proceso formativo, estableciendo los tiempos, recursos educativos y evidencias que le permitirán  cumplir con los resultados de aprendizaje definidos para el programa de formación Curso para Evaluadores del Desempeño Laboral con el Sistema Tipo de la Comisión Nacional Del Servicio Civil.
                    

                            .col-12.col-lg-6
                                .d-none.d-lg-block
                                    img(src="assets/images/header/header_ruta.svg")           

        section#ruta.curso-resultados.section.bg-base-light.container

            .subtitulo-guion.my-4
                h2 Guía de aprendizaje 1 <br><small class="text-muted letter-spacing-1x font-weight-bold">Duración: 48 horas</small>

            .rutatimeline__wrapper.jumbotron.py-3.px-5

                section#rutatimeline
                    .rutatimeline__item.br--bottom   
                        img(src="assets/images/ruta/inicio.svg", alt="")            
                        p Inicio              
                    .rutatimeline-card-wrapper                              
                        .rutatimeline-card.card--step1
                            .rutatimeline-card__head
                                .number-box
                                    span 01
                                .title-box #[strong Actividad de aprendizaje:] Conocer el Sistema de evaluación tipo de la CNSC de acuerdo a la normatividad vigente.
                            .rutatimeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje:]</br>
                                    p Identificar el sistema de Evaluación del Desempeño según el marco normativo y lineamientos de la CNSC (Comisión Nacional del Servicio Civil).

                                    .tl-hr-divider
                                    p #[strong Material de formación:]</br>
                                    ul 
                                        li Componente formativo - normatividad evaluación del desempeño.
                                        li Componente formativo - Sistema Tipo de Evaluación de la CNSC.

                                    .tl-hr-divider
                                    p #[strong Evidencias:] 
                                    p #[strong Conocimiento: cuadro descriptivo del Sistema Tipo de la CNSC. ]Describe los elementos del sistema de evaluación según marco normativo y lineamientos de la CNSC.


                        .rutatimeline-card.card--step1
                            .rutatimeline-card__head
                                .number-box
                                    span 02
                                .title-box #[strong Actividad de aprendizaje:] Realizar concertación de los compromisos laborales entre el evaluado y el evaluador desde el punto de vista técnico y actitudinal, según términos de la CNSC.
                            .rutatimeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje:]</br>
                                    
                                    p Concertar los compromisos funcionales y comportamentales con el evaluado de acuerdo con los términos del Sistema Tipo de la CNSC.

                                    .tl-hr-divider
                                    p #[strong Material de formación:]</br></br>Componente formativo - Fases de la evaluación del desempeño laboral:
                                    ul 
                                        li Fase I: concertación de compromisos
                                        li Fase II: seguimiento
                                        li Fase III: evaluaciones parciales
                                        li Fase IV: calificación definitiva
                                    .tl-hr-divider
                                    p #[strong Evidencias:]
                                    p #[strong Producto: estudio de casos: formato "Concertación de compromisos"] Estructura compromisos funcionales y comportamentales que se concertan con el evaluado,  para el periodo de evaluación según términos de la CNSC.


                        .rutatimeline-card.card--step1
                            .rutatimeline-card__head
                                .number-box
                                    span 03
                                .title-box #[strong Actividad de aprendizaje:] Establecer seguimiento al desempeño del evaluado de acuerdo a las evidencias aportadas sobre el desarrollo de los compromisos concertados. 
                            .rutatimeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje:]</br>
                                    
                                    p Realizar seguimiento sobre el avance (cumplimiento o incumplimiento) de los compromisos funcionales y desarrollo de las competencias comportamentales según los criterios definidos en el Sistema Tipo de la CNSC.
                                    .tl-hr-divider
                                    p #[strong Material de formación:]</br></br>Componente formativo - Fases de la evaluación del desempeño laboral:
                                    ul 
                                        li Fase I: concertación de compromisos
                                        li Fase II: seguimiento
                                        li Fase III: evaluaciones parciales
                                        li Fase IV: calificación definitiva
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 
                                    p #[strong Producto: estudio de casos: seguimiento.] Formato: establece compromisos de mejoramiento una vez realizado el seguimiento al desempeño de acuerdo a las evidencias aportadas.

                                    p #[strong Desempeño: foro temático: importancia del seguimiento.]  Comparta su opinión frente a la importancia de hacer seguimiento a los compromisos concertados.



                        .rutatimeline-card.card--step1
                            .rutatimeline-card__head
                                .number-box
                                    span 04
                                .title-box #[strong Actividad de aprendizaje:] Analizar evaluaciones parciales para evidenciar el porcentaje de avance del evaluado, en relación con el cumplimiento de los compromisos concertados para el período de evaluación.
                            .rutatimeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje:]</br>
                                    
                                    p Evaluar el cumplimiento de los compromisos laborales  verificando el porcentaje de avance en los términos del Sistema Tipo de la CNSC.
                                    
                                    .tl-hr-divider
                                    p #[strong Material de formación:]</br></br>Componente formativo - Fases de la evaluación del desempeño laboral:
                                    ul 
                                        li Fase I: concertación de compromisos
                                        li Fase II: seguimiento
                                        li Fase III: evaluaciones parciales
                                        li Fase IV: calificación definitiva
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 
                                    p #[strong Producto: estudio de casos: "Evaluaciones Parciales". ] Representa la fase de evaluaciones parciales analizando el porcentaje de avance del evaluado, en relación con el cumplimiento de los compromisos concertados para el período de evaluación.

                        .rutatimeline-card.card--step1
                            .rutatimeline-card__head
                                .number-box
                                    span 05
                                .title-box #[strong Actividad de aprendizaje:] Consolidar calificación definitiva conforme a los  porcentajes obtenidos por el evaluado en las evaluaciones parciales.
                            .rutatimeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje:]</br>
                                    
                                    p Establecer la calificación definitiva con los resultados de las evaluaciones parciales según los lineamientos de la CNSC.
                                    
                                    .tl-hr-divider
                                    p #[strong Material de formación:]</br></br>Componente formativo - Fases de la evaluación del desempeño laboral:
                                    ul 
                                        li Fase I: concertación de compromisos
                                        li Fase II: seguimiento
                                        li Fase III: evaluaciones parciales
                                        li Fase IV: calificación definitiva
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 
                                    p #[strong Producto: diagrama de secuencias: "Calificación Definitiva". ] Organiza las acciones que permiten establecer la calificación definitiva.

                                    p  #[strong Desempeño: video. ] Presenta el desarrollo de las fases del proceso de EDL, tipo de la CNSC a partir del conocimiento adquirido a través de  las actividades propuestas durante el curso.

                    .rutatimeline__item.br--top                
                        img(src="assets/images/ruta/certificacion.svg", alt="")    
                        p Certificación        
                    

        +creditosFooter("assets/images/logos/senaLogo.svg")


        script(src="assets/js/vendor.js")
        script(src="assets/js/global.js")        
        script(src="assets/js/pages.js")





